// Fonts
$font-size-xx-small: 12px;
$font-size-x-small: 14px;
$font-size-small: 16px;
$font-size-regular: 18px;
$font-size-large: 20px;
$font-size-x-large: 24px;
$font-size-xx-large: 32px;
$font-size-xxx-large: 40px;
$font-size-xxxx-large: 50px;
$font-size-modificator: 2px;
$base-font-family : "Poppins", "Roboto", Arial, sans-serif;
$base-line-height: 1.6;
$large-line-height: 2.2;
